<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="icon" type="images/png" href="{% static 'images/logo2.png' %}" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
    .fade-card {
        background-color: transparent;
        width: 400px;
        height: 600px;
        position: relative;
        overflow: hidden;
        border-radius: 16px;
    }

    .fade-card .fade-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s ease-in-out;
    }

    .fade-card:hover .fade-content {
        opacity: 0;
    }

    .fade-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .fade-card .fade-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .fade-card:hover .fade-overlay {
        opacity: 1;
    }
    </style>
</head>
<body>
   <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
        <a class="mr-5 hover:text-white"href="{% url 'home' %}">Home</a>
        <a class="mr-5 hover:text-white" href="{% url 'aboutproject' %}">About</a>
        <a class="mr-5 hover:text-white" href="{% url 'about' %}">Developers</a>
      </nav>
      <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0" href="{% url 'home' %}">
        <img src="{% static 'images/logo2.png' %}" alt="logo" style="border-radius: 50%;" width="50px">
        <span class="ml-3 text-xl xl:block lg:hidden">Campus Placement/Recruitment Management System</span>
      </a>
      <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
        <a href="{% url 'login' %}"><button   >Login</button></a>
      </div>
    </div>
  </header>
<!--    <section class="text-gray-900 body-font">-->
<!--        <div class="container px-5 py-24 mx-auto">-->
<!--          <div class="flex flex-col text-center w-full mb-20">-->
<!--            <h1 class="text-2xl font-medium title-font mb-4 text-black tracking-widest">OUR MENTOR</h1>-->
<!--            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">The Leader who leads us into the risk and teaches us knowledge.</p>-->
<!--          </div>-->
<!--          <div class="fade-card" style="margin: 0 auto;">-->
<!--            <div class="fade-content">-->
<!--              <img src="{% static 'images/mentor.png' %}" alt="Mentor Image">-->
<!--            </div>-->
<!--            <div class="fade-overlay">-->
<!--              <h3>J. Surya Kiran</h3>-->
<!--              <h1>TEAM MENTOR</h1>-->
<!--              <p>One of the best teachers, I have ever come through. One good teacher in a lifetime may sometimes change a delinquent into a solid citizen and I believe he is the one.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
        <section class="text-gray-900 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
              <h1 class="text-2xl font-medium title-font mb-4 text-black tracking-widest">OUR TEAM</h1>
              <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p>
            </div>
            <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/3">
                <div class="fade-card">
                    <div class="fade-content">
                      <img src="{% static 'images/image1.png' %}" alt="Team Member Image">
                    </div>
                    <div class="fade-overlay">
                      <h3>V. CHETAN PANNAG</h3>
                      <h3>2200090146</h3>
                      <h1>TEAM LEAD</h1>
                    </div>
                  </div>
            </div>
            <div class="p-4 lg:w-1/3">
                <div class="fade-card">
                    <div class="fade-content">
                      <img src="{% static 'images/image1.png' %}" alt="Team Member Image">
                    </div>
                    <div class="fade-overlay">
                      <h3>R. NAGA SAMHITHA</h3>
                      <h3>2200090112</h3>
                      <h1>MEMBER</h1>
                    </div>
                  </div>
            </div>
            <div class="p-4 lg:w-1/3">
                <div class="fade-card">
                    <div class="fade-content">
                      <img src="{% static 'images/image1.png' %}" alt="Team Member Image">
                    </div>
                    <div class="fade-overlay">
                      <h3>S.DEEPAK KUMAR</h3>
                      <h3>2200030063</h3>
                      <h1>MEMBER</h1>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <img src="{% static 'images/logo2.png' %}" alt="logo" style="border-radius: 50%;" width="50px">
            <span class="ml-3 text-xl">Campus Placement/Recruitment Management System</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2024 KL UNIVERSITY CAMPUS RECRUITMENT —
            <a href="https://www.linkedin.com/in/suryakiran1993/" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@mentor</a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500" href="https://www.linkedin.com/posts/amchowdaryy_y21sdp2-epc-ecs-activity-7036917508922122241-jKmh?utm_source=share&utm_medium=member_desktop" target="
            ">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>
</body>
</html>
