<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campus Placement/Recruitment Management System</title>
    <link rel="icon" type="images/png" href="{% static 'images/logo2.png' %}" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        button {
  position: relative;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  padding: 12px 24px;
  border: none;
  border-radius: 48px;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  color: #ffffff;
}
button::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  border-radius: 48px;
  background-image: linear-gradient(to right, #3bd9d9 0%, #b527cf 100%);
  transition: 0.5s ease;
  z-index: -1;
}
button:hover::before {
  width: 100%;
}
input[type=text],input[type=password],input[type=number],input[type=email],
select,input[type=date],textarea
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    </style>
</head>
<body>
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" href="{% url 'employerhome' %}">
                <img src="{% static 'images/logo.png' %}" alt="logo" style="border-radius: 50%;" width="50px">
                <span class="ml-3 text-xl">Campus Placement/Recruitment Management System</span>
            </a>
            <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-white" href="{% url 'empprofile' %}">Profile</a>
                <a class="mr-5 hover:text-white" href="{% url 'addjob' %}">Add Jobs</a>
                <a class="mr-5 hover:text-white" href="{% url 'viewjobs' %}">View Jobs</a>
                <!--<a class="mr-5 hover:text-white">Fourth Link</a>-->
            </nav>
            <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
                <a href="{% url 'emplogout' %}"><button>Logout</button></a>
            </div>
        </div>
    </header>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Add Jobs</h1>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">whenever you have a vacancy, just add it here and we will show it to the public</p>
          </div>
          <div>
            <h3 align="center"><em><mark>{{msg}}</mark></em></h3>
        <form method="post">
          {% csrf_token %}
          {% for field in jform %}
          <div class="input-box">
            <span class="details">{{field.label}}</span>
            {{field}} <br>
          </div>
          
          {% endfor %}
          <button type="submit">Add</button>
      </form>
          </div>
        </div>
      </section>
    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img src="{% static 'images/logo.png' %}" alt="logo" style="border-radius: 50%;" width="50px">
                <span class="ml-3 text-xl">Campus Placement/Recruitment Management System</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 Employability Consultancy System —
                <a href="https://www.linkedin.com/in/suryakiran1993/" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@mentor</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500" href="https://www.linkedin.com/posts/amchowdaryy_y21sdp2-epc-ecs-activity-7036917508922122241-jKmh?utm_source=share&utm_medium=member_desktop" target="">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>
</body>
</html>